<div class="jumbotron text-center">
  <h1 style="font-size: 50px; font-weight: bolder;">VOLVO</h1>
  <h6>Volvo Group</h6>
</div>

<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item" [ngClass]="{'bg-primary':menuItem == 1 }">
        <a class="nav-link" (click)="menuItem = 1" [routerLink]="['/welcome']">HOME</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':menuItem == 2 }">
        <a class="nav-link" (click)="menuItem = 2" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item" [ngClass]="{'active':menuItem == 3 }">
        <a class="nav-link" (click)="menuItem = 3" [routerLink]="['/addUser']" >Add</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
